---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Welcome to The RE Department of Bishop Challoner Catholic School!'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Bishop Challoner RE Department</h1>
    <h3> Need some work for R.E.? You've come to the right place!</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-outline-secondary btn-lg"><a href="/start-learning">Start Learning </a></button>
  </div>
</div>
